using static System.Net.Mime.MediaTypeNames;

commands:
# The name must be unique for each command
01_download_dotnet_bundle:
command: powershell.exe - ExecutionPolicy Bypass - Command "$env:TEMP_PATH = 'C:\\temp\\'; if (-not (Test-Path $env:TEMP_PATH)) { New-Item -Path $env:TEMP_PATH -ItemType Directory | Out-Null }; Invoke-WebRequest -Uri 'https://download.visualstudio.microsoft.com/download/pr/97f09761-4545-4235-961e-1536b30f4066/1f31f90911762e542c366e6b4122d4f3/dotnet-hosting-8.0.0-win.exe' -OutFile 'C:\temp\dotnet-hosting-8.0.0-win.exe'"
    ignoreErrors: false


  02_install_dotnet_bundle:
# /install /quiet /norestart
command: C:\temp\dotnet-hosting-8.0.0-win.exe /install /quiet /norestart
    # This command is run by the EB platform before the application is deployed.
    # It ensures the runtime is installed first.
    cwd: C:\temp\
    ignoreErrors: false
