commands:
  01_download_dotnet_bundle:
    command: powershell.exe -ExecutionPolicy Bypass -Command "$env:TEMP_PATH = 'C:\\temp\\'; if (-not (Test-Path $env:TEMP_PATH)) { New-Item -Path $env:TEMP_PATH -ItemType Directory | Out-Null }; Invoke-WebRequest -Uri 'https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.ps1' -OutFile 'C:\temp\dotnet-install.ps1'"
    ignoreErrors: false
  
  02_install_dotnet_bundle:
    command: C:\temp\dotnet-hosting-8.0.0-win.exe /install /quiet /norestart
    cwd: C:\temp\
    ignoreErrors: false